{% extends '../layout/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% load widget_tweaks %}
{% block content %}
<main class="login-container">
    <div class="login-card">
        <div class="login-image">
            <img src="{% static 'images/cat400.png' %}" alt="Error loading image" class="CatImage">
        </div>
        <div class="login-form">
            <div class="form-header">
                <img src="{% static 'images/icons/userIcon.svg' %}" alt="User icon" class="icons">
                <h1>Reset Your Password</h1>
                <p>Please enter your email address to reset your password.</p>
            </div>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.email|add_class:"form-input"|attr:"placeholder:Enter your email" }}
                <button type="submit" class="btn-login">Submit</button>
            </form>
            <div class="form-footer">
                <p>Remember your password? <br> <a href="{% url 'users:login' %}">Log in</a></p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
