{% extends '../layout/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block extra_js %}
    <script>
        const eyeOpenIcon = "{% static 'images/icons/eyeOpenIcon.svg' %}";
        const eyeClosedIcon = "{% static 'images/icons/eyeClosedIcon.svg' %}";
    </script>
    <script src="{% static 'js/togglePasswordVisibility.js' %}"></script>
{% endblock %}
{% block content %}
<main class="login-container">
    <div class="login-card">
        <div class="login-image">
            <img src="{% static 'images/catLogin.png' %}" alt="Error while loading the image" class="CatImage">
        </div>
        <div class="login-form">
            <div class="form-header">
                <img src="{% static 'images/icons/userIcon.svg' %}" alt="Error while loading the image" class="icons">
                <h1>Welcome back!</h1>
                <p>Please enter your credentials</p>
            </div>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="form-group">
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="password-container">
                        {{ form.password }}
                        <img src="{% static 'images/icons/eyeClosedIcon.svg' %}"
                             alt="Toggle password visibility"
                             id="toggle-password"
                             class="password-toggle"
                             onclick="togglePasswordVisibility()">
                    </div>
                    {% if form.password.errors %}
                        <div class="error">{{ form.password.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-options">
                    <label>
                        <input type="checkbox" name="remember_me"> Remember me
                    </label>
                    <a href="#" class="forgot-password">&ensp;&ensp;&ensp;Forgot your password?</a>
                </div>

                <button type="submit" class="btn-login">Log in</button>
            </form>
            <div class="form-footer">
                <p>Don't you have an account? <br> <a href="{% url 'users:register' %}">Create one</a></p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
