{% extends '../layout/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<main class="login-container">
    <div class="login-card">
        <div class="login-form" style="width:100%;">
            <div class="form-header">
                <h1>Password Reset Successful</h1>
                <p>Your password has been successfully changed. You can now log in with your new password.</p>
            </div>
            <div class="form-footer">
                <p>Return to <a href="{% url 'users:login' %}">Log in</a></p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
