/*Importaciones de fuentes de google fonts
1. Poppins   font-family: "Poppins", serif;
2. Roboto Mono   font-family: "Roboto Mono", serif;
3. Inter:   font-family: "Inter", serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo{
    font-family: "Poppins", serif;
    font-size: 32px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.logo:hover{
    color: #484848;
}

.nav-links {
    background-color: rgba(234, 226, 226, 0.4);
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 20px;
    text-align: center;
    align-content: center;
    padding: 1rem;
    border-radius: 20px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-family: "Roboto Mono", serif;
    transition: background-color 0.5s, padding 0.5s;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav-links a:hover {
    cursor: pointer;
    padding: 0.3rem;
    background-color: #e2d8e4;
    border-radius: 10px;
}


.nav-button {
    font-family: "Roboto Mono", serif;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    width: 150px;
    margin-right: 50px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.nav-button:hover {
    background-color: #e2d8e4;
    color: #1b1b1b;
}

/*Estilos para index.html*/

.hero {
    color: black;
    float: left;
    margin-left: 100px;
}

.hero h1 {
    font-family: "Roboto Mono", serif;
    font-size: 48px;
    margin-bottom: 0px;
}

.hero p {
    font-family: "Inter", serif;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.btn-primary {
    font-family: "Roboto Mono", serif;
    font-size: 20px;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    padding: 15px;
    width: 150px;
    margin-right: 50px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    margin-left: 30px;
}

.btn-primary:hover {
    background-color: #e2d8e4;
    color: #1b1b1b;
}

#hero-img{
    width: 650px;
    float: right;
    margin-right: 200px;
}

