{% extends '../layout/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/analysisSurveys.css' %}">
{% endblock %}
{% block content %}
<main class="form-container">
    <form class="survey-form">
        <h1 class="form-title"><img src="{% static 'images/icons/addIcon.svg' %}" alt="Error while loading the image" class="icons"> Add a survey</h1>
        <p class="form-description">
            Here you are going to write the name of your survey and then you are going to upload your surveys answers in either a CSV or Excel format.
        </p>

        <label for="survey-name" class="form-label">Name of the survey:</label>
        <input type="text" id="survey-name" class="form-input" placeholder="Enter the survey name">

        <label for="upload-files" class="form-label">Upload files:</label>
        <div class="file-dropzone" onclick="document.getElementById('upload-files').click()" ondrop="handleDrop(event)">
            <input type="file" name="upload-files" id="upload-files" accept=".csv, .xls" multiple hidden>
            <img src="{% static 'images/icons/uploadIcon.svg' %}" alt="Error while loading the image" class="icons upload-icon">
            <p>Drag & drop your files here or <span class="file-choose">choose files</span></p>
            <small>CSV or Excel files only</small>
        </div>
        <label for="uploaded-files" class="form-label">Uploaded files:</label>
        <div class="uploaded-files">
            <div class="file-item">
                <span> <img src="{% static 'images/icons/documentIcon.svg' %}" alt="Error while loading the image" class="icons"> Survey.csv</span>
                <small>10.4 mb</small>
                <button class="remove-file-btn">X</button>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="btn-cancel">Cancel</button>
            <button type="submit" class="btn-confirm">Confirm</button>
        </div>
    </form>
</main>
{% endblock %}
